@import "bootstrap-icons/font/bootstrap-icons.css";
$navbar-nav-link-padding-x: 1.5rem;
$primary : #007822;

@import "bootstrap/scss/bootstrap.scss";

#loading{
    background-image: url("./public//img/img/128x128.gif") ; 
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: center;
    position: fixed;
    z-index: 200;
    height: 100%;
    width: 100%;
}
.hide{
    display: none;
}
.show {
    display: block;
    text-align: center;
}

html{
    scroll-behavior: smooth;
}
.brand-icon{
    width: 40px;
    transition: 0.5s;
}
.nav-link{
    transition: transform 0.3s;
}
.site-navbar{
 &:hover .brand-icon{
    transform: rotate(360deg)
 }
 &:hover .nav-link.active{
    transform: translateY(-3px);
 }
}

.nav-link.active{
    color: white !important;
    transition: 0.5s;
}
.menus-img{
    margin-left: 12%;
    position: relative;
    top: 70px;
    z-index: 2;
    transition: 0.5s;
}
.menus-card .card{
    transition: 0.5s;
}
.menus-card {
    &:hover .menus-img{
        transform: rotate(360deg);
    }
    &:hover .card{
        transform: translateY(-5px);
    }
}


